/* ------------------
   Adding Fonts 
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ---------------------------
common styles or utilities
-----------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 64px;
    font-weight: bold;
}
h2{
    font-size: 48px;
    font-weight: bold;
}
h3{
    font-weight: bold;
    font-size: 28px
}
p{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: normal;
}

/* -----------------------
Top Header Styles Start
--------------------------*/
.top-banner{
    background: #2D25A0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 677px;
}
.top-banner-text h1{
    width: 485px;
    color: white;
}
.top-banner-text a{
    background: #E02C6D;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
}
.top-banner-text a:hover{
    background: #ff005d;
}
.top-banner-image img{
    width: 556.01px;
    height: 438px;
}
/*-----------------------
Top Header Styles End
-----------------------*/

/*-----------------------
Players Section Style Starts
------------------------------*/

.players{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-bottom: 165px;
}
.player{
    display: flex;
    flex-direction: column;
    height: 474px; 
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    align-items: flex-start;
    justify-content: center;
    
}
.player img{
    width: 300px;
    height: 256px;
}
.player-info{
    margin: 16px 0px;
}
.player-info h3{
    margin: 10px 0px;
}
.player-info p{
    width: 300px;
    margin: 10px 0px;
}

/*-----------------------
Players Section Style Ends
------------------------------*/

/*-----------------------
Football Updates Starts
------------------------------*/

.football-updates{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 158px;
}
.updates-text{
    width: 469px;
    margin-right: 66px;
}
.updates-text h2{
    color: #0A0826;
    width: 469px;
    margin: 8px 0px;
}
.updates-text p{
    margin-top: 8px;
    margin-bottom: 24px;
}
.updates-text a{
    background: #E02C6D;
    width: 173px;
    height: 44px;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
}
.updates-text a:hover{
    background: #ff005d;
}
.updates-image img{
    width: 567px;
    height: 427px;
}

/*-----------------------
Football Updates Ends
------------------------------*/

/*----------------------
Footer Style Starts
---------------------- */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer img{
    width: 483.87px;
}
footer a{
    color: black;
}
.fab{
    font-size: 32px;
    margin-right: 10px;
}
footer p{
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}
