/* ------------------
   Adding Fonts 
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ---------------------------
common styles or utilities
-----------------------------*/
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 158px;
}
h1{
    font-size: 64px;
    font-weight: bold;
}
h2{
    font-size: 48px;
    font-weight: bold;
}
h3{
    font-weight: bold;
    font-size: 28px
}
p{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: normal;
}
.link-button{
    background: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    margin-right: 0px;
}
.link-button:hover{
    background: #ff005d;
}
/* -----------------------
Top Header Styles Start
--------------------------*/
.top-header{
    background: #2D25A0; 
    height: 677px;
}
.top-header:hover{
    animation: slider 4s linear 0.3s infinite normal;
}
@keyframes slider {
    0%{
        background-color: #FFD55A;
    }
    50%{
        background-color: #293250;
    }
    100%{
       background-color: #6DD47E;
    }
}
/* Top Navigation Styles Start */
nav{
    padding-top: 42px;
    padding-bottom: 49px;
    display: flex;
    justify-content: space-around;
}
.menu-icon{
    display: none;
    color: white;
    font-size: 24px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 36px;
    font-weight: 500;
    font-size: 16px;
}
nav a:hover{
    text-decoration: underline;
}
/* Top Navigation Styles Ends */
.top-banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-banner-text h1{
    width: 485px;
    color: white;
    margin-top: 0px;
    margin-bottom: 27px;
}


.top-banner-image img{
    width: 556.01px;
    height: 438px;
}
/*-----------------------
Top Header Styles End
-----------------------*/

/*-----------------------
Players Section Style Starts
------------------------------*/

.players{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-bottom: 165px;
}
.player{
    display: flex;
    flex-direction: column;
    height: 100%; 
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    align-items: flex-start;
}
.player:hover{
    color: white;
    background-color: #000000;
}
.player img{
    width: 300px;
    height: 256px;
    margin: 15px 15px 0px 15px;
}
.player-info{
    margin: 16px 15px;
}
.player-info h3{
    margin: 10px 0px;
}
.player-info p{
    width: 300px;
    margin: 25px 0px;
    text-align: justify;
}
.player-info .link-button{
    background-color: #990011FF;
}
.player-info .link-button:hover{
    background-color: rgb(197, 5, 28);
}

/*-----------------------
Players Section Style Ends
------------------------------*/

/*-----------------------
Football Updates Starts
------------------------------*/

.football-updates{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
.updates-text{
    width: 469px;
    margin-right: 66px;
}
.updates-text h2{
    color: #0A0826;
    width: 469px;
    margin: 8px 0px;
}
.updates-text p{
    margin-top: 8px;
    margin-bottom: 24px;
}
.updates-text a{
    background: #E02C6D;
    width: 173px;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
}
.updates-text a:hover{
    background: #ff005d;
}
.updates-image img{
    width: 567px;
    height: 427px;
}

/*-----------------------
Football Updates Ends
------------------------------*/

/*----------------------
Popular Highlights Style Starts
---------------------- */
.highlights{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 25px;
    margin-bottom: 100px;
}
.match{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.match h4{
    width: 347.4px;
    margin-bottom: 5px;
}
/*----------------------
Popular Highlights Style Ends
---------------------- */

/*----------------------
Club Style Starts
---------------------- */
.clubs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin-bottom: 60px;
}
.club{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
    height: 150px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 12px;
    /* transition: width 0.2s ease-in-out; */
}
.club:hover{
    /* width: 260px;
    height: 180px; */
    background-color: #E02C6D;
}
.club:hover .club-logo{
    width: 100px;
    height: 100px;
}
.club h4{
    margin: 0px;
    color: white;
    background-color: #2D25A0; 
    width: 100%;
    text-align: center;
}
.club-logo{
    width: 80px;
    height: 80px;
}

/*----------------------
Club Style Ends
---------------------- */


/* Fixture Style Starts */
.flexible{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fixture-header{
    background-color: #2D25A0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1050px;
    color: white;
}
.fixture-header .link-button{
    height: 100%;
}
.fixture-name{
    width: 787.5px;
    color: white;
    text-align: center;
}
.fixture-name h3{
    background-color: #2D25A0;
    margin: 0px;
}
.fixtures{
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 10px 10px 40px gray;
}
.fixture{
    display: flex;
    align-items: center;
}
.fixture h4{
    text-align: center;
}
.status{
    margin-left: 20px;
    width: 46px;
    background-color: rgb(91, 163, 91);
    padding: 8px;
}
.fixture p{
    color: black;
    margin-left: 220px;
}
hr{
    width: 100%;
}
#orange-color{
    background-color: orange;
}
 /* Fixture Style Ends */


/*----------------------
Footer Style Starts
---------------------- */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer img{
    width: 483.87px;
}
footer a{
    color: black;
}
.fab{
    font-size: 32px;
    margin-right: 10px;
}
footer p{
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}

/*----------------------
Footer Style Ends
---------------------- */

/* Media Query For Phone Device */

@media only screen and (max-width: 688px){
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 30px;
    }
    /* -----------------------
    Top Header Styles Start
    --------------------------*/
    .top-header{
        width: 100%;
        height: 695px;
    }
    nav{
        padding-top: 33px;
        padding-bottom: 0px;
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 21px;
    }
    .nav-links{
        display: none;
    }
    .menu-icon{
        margin: 3px;
        display: contents;
    }
    nav .link-button{
        padding: 7.47253px 17.9341px;
        margin-right: 0px;
    }
    .top-banner{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .top-banner-text h1{
        width: 278px;
        height: 138px;
        margin-bottom: 57px;
        margin-top: 46px;
    }
    .top-banner-text a{
        width: 168px;
        height: 100%;
        
    }
    .top-banner-image img{
        margin-top: 50px;
        width: 329px;
        height: 259.17px; 
    }
    /*-----------------------
    Top Header Styles End
    -----------------------*/

    /*-----------------------
    Players Section Style Starts
    ------------------------------*/
    .players{
        margin-top: 47px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 24px;
        margin-bottom: 60px;
    }
    /*-----------------------
    Players Section Style Ends
    ------------------------------*/

    /*-----------------------
    Football Updates Starts
    ------------------------------*/
    .football-updates{
        flex-direction: column;
    }
    .updates-text{
        width: 329px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .updates-text h2{
        width: 294px;
        margin-bottom: 27px;
    }
    .updates-text p{
        width: 329px;
    }
    .updates-image img{
        margin-top: 59px;
        width: 328px;
        height: 248px;
    }

    /*-----------------------
    Football Updates Ends
    ------------------------------*/
    /*----------------------
    Popular Highlights Style Starts
    ---------------------- */
    .highlights-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .highlights-header p{
        margin-top: 0px;
        width: 280px;
    }
    .highlights{
        grid-template-columns: 1fr;
    }
    .match{
        margin-bottom: 20px;
    }
    /*----------------------
    Popular Highlights Style Ends
    ---------------------- */

    /*----------------------
    Club Style Starts
    ---------------------- */
    .clubs-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .clubs-header p{
        width: 330px;
        margin-top: 0px;
    }
    .clubs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .club{
        margin-bottom: 20px;
    }
    /*----------------------
    Club Style Ends
    ---------------------- */

    /* Fixture Style Starts */
    .fixture-name{
        width: 97%;
    }
    .fixture-header{
        width: 100%;
        flex-direction: column;
    }
    .fixture-header .link-button{
        margin-bottom: 20px;
    }
    .fixture{
        justify-content: center;
    }
    .fixture p{
        margin-left: 40px;
    }
     /* Fixture Style Ends */


    /*----------------------
    Footer Style Starts
    ---------------------- */
    footer img{
        width: 275.8px;
    }
    footer p{
        text-align: center;
    }
    /*----------------------
    Footer Style Starts
    ---------------------- */
}

/* Media Query For Ipad/Tablets */

@media (min-width: 689px) and (max-width: 1024px){
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 30px;
    }
    /* -----------------------
    Top Header Styles Start
    --------------------------*/
    .top-header{
        width: 100%;
        height: 500px;
    }
    .top-banner{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .top-banner-text h1{
        width: 278px;
        height: 138px;
        margin-bottom: 57px;
        margin-top: 46px;
    }
    .top-banner-text a{
        width: 168px;
        height: 100%;
        
    }
    .top-banner-image img{
        margin-top: 50px;
        width: 329px;
        height: 259.17px; 
    }
    /*-----------------------
    Top Header Styles End
    -----------------------*/

    /*-----------------------
    Players Section Style Starts
    ------------------------------*/
    .players{
        margin-top: 47px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 24px;
        margin-bottom: 60px;
    }
    /*-----------------------
    Players Section Style Ends
    ------------------------------*/

    /*-----------------------
    Football Updates Starts
    ------------------------------*/
    
    .updates-text{
        width: 329px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .updates-text h2{
        width: 294px;
    }
    .updates-text p{
        width: 329px;
    }
    .updates-image img{
        margin-top: 59px;
        width: 328px;
        height: 248px;
    }

    /*-----------------------
    Football Updates Ends
    ------------------------------*/
    /*----------------------
    Popular Highlights Style Starts
    ---------------------- */
    .highlights-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .highlights-header p{
        margin-top: 0px;
        width: 280px;
    }
    .highlights{
        grid-template-columns: 1fr;
    }
    .match{
        margin-bottom: 20px;
    }
    /*----------------------
    Popular Highlights Style Ends
    ---------------------- */

    /*----------------------
    Club Style Starts
    ---------------------- */
    .clubs-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .clubs-header p{
        width: 330px;
        margin-top: 0px;
    }
    .clubs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .club{
        margin-bottom: 20px;
    }
    /*----------------------
    Club Style Ends
    ---------------------- */

    /* Fixture Style Starts */
    .fixture-header{
        width: 100%;
    }
    .fixture-header .link-button{
        margin-bottom: 20px;
    }
    .fixture{
        justify-content: center;
    }
    .fixture p{
        margin-left: 40px;
    }
     /* Fixture Style Ends */


    /*----------------------
    Footer Style Starts
    ---------------------- */
    footer img{
        width: 275.8px;
    }
    footer p{
        text-align: center;
    }
    /*----------------------
    Footer Style Starts
    ---------------------- */
}